<section>
  <div class="container">
    <aside>
      <h2>FOIRE AUX QUESTIONS (FAQ)</h2>
      <div>
        <h3>UNE AUTRE QUESTION À PROPOS DE NOS SERVICES ?</h3>
        <p>Nous restons à votre disposition via formulaire de contact et par mail !</p>
        <a routerLink="/contact">CONTACT</a>
      </div>
    </aside>
    <div class="small__container">
      <div class="question__container">
        <div class="question">
          <p>Combien de temps dure l'effet de la céramique après application ?</p>
          <span><i class="fa-solid fa-chevron-down"></i></span>
        </div>
        <p class="answer">Les résultats diffèrent selon la mise en situation du véhicule. Nous préconisons un lavage par mois sans produits chimiques afin d'obtenir une durée moyenne de 6 mois de résistance.</p>
      </div>
      <div class="question__container">
        <div class="question">
          <p>Vos produits ont-elles une garantie ?</p>
          <span><i class="fa-solid fa-chevron-down"></i></span>
        </div>
        <p class="answer">Nous nous efforçons de prendre les meilleurs produits pour chaque service proposé. Nous sommes d'ailleurs agréé pour des produits comme la céramique avec la société MATRIXCERAMICS.</p>
      </div>
      <div class="question__container">
        <div class="question">
          <p>Why should I choose Lorem over other service providers ?</p>
          <span><i class="fa-solid fa-chevron-down"></i></span>
        </div>
        <p class="answer">Sit amet dictum sit amet justo donec enim. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis. Viverra suspendisse potenti nullam ac. Semper eget duis at tellus at. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus. </p>
      </div>
      <div class="question__container">
        <div class="question">
          <p>Why should I choose Lorem over other service providers ?</p>
          <span><i class="fa-solid fa-chevron-down"></i></span>
        </div>
        <p class="answer">Sit amet dictum sit amet justo donec enim. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis. Viverra suspendisse potenti nullam ac. Semper eget duis at tellus at. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus. </p>
      </div>
    </div>
  </div>
</section>
