<section>
  <div class="container">
    <aside>
      <h2>FREQUENTLY ASKED QUESTIONS</h2>
      <div>
        <h3>WE MAKE AUTO REPAIR MORE CONVENIENT</h3>
        <p>Amet commodo nulla facilisi nullam vehicula. Purus in mollis nunc posuere</p>
        <a href="">GET SERVICE</a>
      </div>
    </aside>
    <div class="small__container">
      <div class="question__container">
        <div class="question">
          <p>Why should I choose Lorem over other service providers ?</p>
          <span><i class="fa-solid fa-chevron-down"></i></span>
        </div>
        <p class="answer">Sit amet dictum sit amet justo donec enim. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis. Viverra suspendisse potenti nullam ac. Semper eget duis at tellus at. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus. </p>
      </div>
      <div class="question__container">
        <div class="question">
          <p>Why should I choose Lorem over other service providers ?</p>
          <span><i class="fa-solid fa-chevron-down"></i></span>
        </div>
        <p class="answer">Sit amet dictum sit amet justo donec enim. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis. Viverra suspendisse potenti nullam ac. Semper eget duis at tellus at. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus. </p>
      </div>
      <div class="question__container">
        <div class="question">
          <p>Why should I choose Lorem over other service providers ?</p>
          <span><i class="fa-solid fa-chevron-down"></i></span>
        </div>
        <p class="answer">Sit amet dictum sit amet justo donec enim. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis. Viverra suspendisse potenti nullam ac. Semper eget duis at tellus at. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus. </p>
      </div>
      <div class="question__container">
        <div class="question">
          <p>Why should I choose Lorem over other service providers ?</p>
          <span><i class="fa-solid fa-chevron-down"></i></span>
        </div>
        <p class="answer">Sit amet dictum sit amet justo donec enim. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis. Viverra suspendisse potenti nullam ac. Semper eget duis at tellus at. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus. </p>
      </div>
    </div>
  </div>
</section>
