@import "../../styles.scss";

footer {
  .container {
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
      text-align: center;
      font-family: $ff-text;
    }
  }
}

@media screen and (max-width: 1380px){
  footer{
    .container{
      margin: 0 10px;
    }
  }
}

@media screen and (max-width: 700px){
  footer .container p{
    font-size: 0.8rem;
  }
}
