<table>
  <caption>SERVICE 1 PRICE LIST</caption>
  <thead>
  <tr>
    <th scope="col">SERVICE TYPE</th>
    <th scope="col">PRICE FROM</th>
    <th scope="col">DURATION (HOUR)</th>
    <th scope="col">COLUMN</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <th scope="row">First</th>
    <td>$ 44.99</td>
    <td>2:00</td>
    <td>XXX</td>
  </tr>
  <tr>
    <th scope="row">Second</th>
    <td>$ 4.99</td>
    <td>1:00</td>
    <td>XXX</td>
  </tr>
  <tr>
    <th scope="row">Third</th>
    <td>$ 4.99</td>
    <td>2:00</td>
    <td>XXX</td>
  </tr>
  <tr>
    <th scope="row">Fourth</th>
    <td>$ 33.99</td>
    <td>0:30</td>
    <td>XXX</td>
  </tr>
  </tbody>
</table>
