<section>
  <div class="container">
    <div class="back">
      <a routerLink="/">HOME<i class="fa-solid fa-chevron-right"></i></a>
      <a routerLink="/prestations">SERVICES<i class="fa-solid fa-chevron-right"></i></a>
      <a class="little__title"></a>
    </div>
    <h2 class="big__title"></h2>
    <div class="article__and__aside">
      <article>
        <div class="article__img">
          <img src="" alt="" class="service__img">
        </div>
        <p class="top__text"></p>
        <ul class="keyList">
          <li *ngFor="let key of keypoints"><i class="fa-solid fa-check"></i>{{ key }}</li>
        </ul>
        <app-table></app-table>
        <p class="bot__text"></p>
      </article>
      <aside>
        <div>
          <h3>ADRESS</h3>
          <a href="">23A rue Aristide Briand, INGERSHEIM 68040</a><br>
          <a href="">25 rue Josué Hofer, MULHOUSE 68200</a>
        </div>
        <div>
          <h3>CONTACT US</h3>
          <a href="">+336 00 00 00 00</a><br>
          <a href="">pntact@contact.com</a>
        </div>
        <div>
          <h3>OPEN HOURS</h3>
          <div class="hours">
            <p class="left"><span>Monday - Thuesday</span><br><span>Friday</span><br><span>Saturday</span><br><span>Sunday</span></p>
            <p class="right"><span>8 am - 8 pm</span><br><span>8 am - 6 pm</span><br><span>9 am - 4 pm</span><br><span>Closed</span></p>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
