<section>
  <div class="container">
    <div class="back">
      <a routerLink="/">HOME<i class="fa-solid fa-chevron-right"></i></a>
      <a routerLink="/prestations">SERVICES<i class="fa-solid fa-chevron-right"></i></a>
      <a>STATIC</a>
    </div>
    <h2>SERVICE 1</h2>
    <div class="article__and__aside">
      <article>
        <div class="article__img">
          <img src="assets/big1.jpg" alt="">
        </div>
        <p>Sed lectus vestibulum mattis ullamcorper. Ante in nibh mauris cursus. Ipsum dolor sit amet consectetur adipiscing elit duis tristique sollicitudin. Nulla posuere sollicitudin aliquam ultrices sagittis. Cursus risus at ultrices mi tempus imperdiet. Ultricies mi quis hendrerit dolor magna eget est lorem. Sodales ut etiam sit amet nisl purus in mollis. Ultrices neque ornare aenean euismod elementum nisi quis. Vel turpis nunc eget lorem dolor sed viverra. Orci nulla pellentesque dignissim enim sit amet venenatis urna. Porttitor lacus luctus accumsan tortor posuere ac ut. Sed tempus urna et pharetra pharetra massa massa ultricies. </p>
        <ul>
          <li><i class="fa-solid fa-check"></i>KEYPOINT (MEDIUM)</li>
          <li><i class="fa-solid fa-check"></i>KEYPOINT (MEDIUM)</li>
          <li><i class="fa-solid fa-check"></i>KEYPOINT (MEDIUM)</li>
          <li><i class="fa-solid fa-check"></i>KEYPOINT (MEDIUM)</li>
          <li><i class="fa-solid fa-check"></i>KEYPOINT (MEDIUM)</li>
          <li><i class="fa-solid fa-check"></i>KEYPOINT (MEDIUM)</li>
        </ul>
        <app-table></app-table>
        <p>Vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci. Eget velit aliquet sagittis id consectetur purus ut. Rutrum quisque non tellus orci ac auctor augue. Imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Congue mauris rhoncus aenean vel elit scelerisque. Volutpat est velit egestas dui id ornare. Tellus mauris a diam maecenas sed enim ut. Egestas tellus rutrum tellus pellentesque eu. A pellentesque sit amet porttitor</p>
      </article>
      <aside>
        <div>
          <h3>ADRESS</h3>
          <a href="">23A rue Aristide Briand, INGERSHEIM 68040</a><br>
          <a href="">25 rue Josué Hofer, MULHOUSE 68200</a>
        </div>
        <div>
          <h3>CONTACT US</h3>
          <a href="">+336 00 00 00 00</a><br>
          <a href="">pntact@contact.com</a>
        </div>
        <div>
          <h3>OPEN HOURS</h3>
          <div class="hours">
            <p class="left"><span>Monday - Thuesday</span><br><span>Friday</span><br><span>Saturday</span><br><span>Sunday</span></p>
            <p class="right"><span>8 am - 8 pm</span><br><span>8 am - 6 pm</span><br><span>9 am - 4 pm</span><br><span>Closed</span></p>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
