<section>
  <div class="container">
    <div class="container__left">
      <h1>CENTRE ESTHÉTIQUE & DETAILING</h1>
      <p>Basé à Colmar dans le Haut-Rhin, AVN AUTO est un centre de detailing où la satisfaction client est la priorité. Nous proposons des services allant du nettoyage du véhicule à la pose de film PPF ou l'application de céramique.</p>
      <a href="">VOIR LES SERVICES</a>
      <div class="strong__points">
        <p>Services professionnels</p>
        <p>Produits de haute qualité</p>
        <p>Demande de devis en ligne</p>
      </div>
    </div>
    <div class="container__right"></div>
  </div>
</section>
