<section>
  <div class="container">
    <div class="container__left">
      <h1>CENTRE DETAILING & AUTRE CHOSE</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, aperiam, aut blanditiis cumque distinctio est illum laborum modi nisi nulla numquam odit placeat provident quasi quidem sed veniam vitae voluptatibus.</p>
      <a href="">VOIR LES SERVICES</a>
      <div class="strong__points">
        <p>Schedule Appointment</p>
        <p>Money Saving Promotions</p>
        <p>Customers Reviews</p>
      </div>
    </div>
    <div class="container__right"></div>
  </div>
</section>
