<section>
  <div class="container">
    <div class="landing__services__title">
      <h2>OUR SERVICES</h2>
      <a href="">ALL SERVICES</a>
    </div>
    <div class="landing__services__cards">
      <div class="landing__services__card">
        <span><i class="fa-solid fa-soap"></i></span>
        <h3>BRAKE REPAIR</h3>
        <p>Eget velit aliquet sagittis id consectetur. Elit ut aliquam purus sit amet luctus. Odio eu feugiat pretium nibh ipsum consequat nisl vel</p>
        <a href=""><span><i class="fa-solid fa-chevron-right"></i></span>DETAILS SERVICE</a>
      </div>

      <div class="landing__services__card">
        <span><i class="fa-solid fa-spray-can-sparkles"></i></span>
        <h3>ENGINE REPAIR</h3>
        <p>Etiam erat velit scelerisque in. Posuere morbi leo urna molestie at elementum eu. Placerat in egestas erat imperdiet sed euismod</p>
        <a href=""><span><i class="fa-solid fa-chevron-right"></i></span>DETAILS SERVICE</a>
      </div>

      <div class="landing__services__card">
        <span><i class="fa-solid fa-car-on"></i></span>
        <h3>TIRE REPAIR</h3>
        <p>Fermentum posuere urna nec tincidunt praesent. Dignissim enim sit amet venenatis. Lorem ipsum dolor sit amet consectetur</p>
        <a href=""><span><i class="fa-solid fa-chevron-right"></i></span>DETAILS SERVICE</a>
      </div>
    </div>
  </div>
</section>
