<section>
  <div class="container">
    <div class="landing__services__title">
      <h2>NOS SERVICES</h2>
      <a routerLink="/prestations">VOIR PLUS</a>
    </div>
    <div class="landing__services__cards">
      <div class="landing__services__card">
        <span><i class="fa-solid fa-soap"></i></span>
        <h3>NETTOYAGE APPROFONDI</h3>
        <p>L'esthétique de votre véhicule commence par son nettoyage. C'est pour cela que nous proposons un nettoyage en profondeur à la main pour un résultat optimal.</p>
        <a routerLink="/service-one"><span><i class="fa-solid fa-chevron-right"></i></span>EN SAVOIR PLUS</a>
      </div>

      <div class="landing__services__card">
        <span><i class="fa-solid fa-spray-can-sparkles"></i></span>
        <h3>TRAITEMENT ODEURS</h3>
        <p>Une odeur persistante dans votre habitacle ? Nous nous chargeons de faire disparaître cela à l'aide d'un kit spécialement conçu pour éliminer les odeurs les plus corriaces.</p>
        <a routerLink="/service-two"><span><i class="fa-solid fa-chevron-right"></i></span>EN SAVOIR PLUS</a>
      </div>

      <div class="landing__services__card">
        <span><i class="fa-solid fa-car-on"></i></span>
        <h3>CORRECTION CARROSSERIE</h3>
        <p>Les impacts légers et les rayures en surface sont le cauchemar de tout conducteur. Notre équipe s'occupe de les rectifier pour faire revenir votre véhicule à son état d'origine.</p>
        <a routerLink="/service-three"><span><i class="fa-solid fa-chevron-right"></i></span>EN SAVOIR PLUS</a>
      </div>
    </div>
  </div>
</section>
