@import "../../styles.scss";

section{
  .container{
    margin: 0 auto;
    .blocks{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
      margin-bottom: 2rem;
      .block{
        height: 215px;
        width: 430px;
        border: 2px solid $gray;
        h2{
          margin: 2rem;
          font-size: 1.5rem!important;
        }
        p, a{
          color: $white;
          margin: 0 2rem;
          font-family: $ff-text;
        }
        p{
          margin-bottom: 2rem;
        }
        .hours{
          display: flex;
        }
        a{
          transition: all 300ms;
        }
        a:hover{
          color: $red;
        }
      }
    }
  }
}

@media screen and (max-width: 1380px){
  section{
    .container{
      margin: 0 10px;
      .blocks{
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 920px){
  .block{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left{
    margin-left: 1rem!important;
    margin-right: 0.5rem!important;
  }
  .right{
    margin-left: 0.5rem!important;
    margin-right: 1rem!important;
  }
}
