section{
  padding-top: 0!important;
  padding-bottom: 3rem;
  .container{
    max-width: 1360px;
    margin: 0 auto;
    h2{
      margin: 4rem 0;
    }
    video{
      width: 100%;
    }
  }
}

@media screen and (max-width: 1380px){
  section{
    .container{
      margin: 0 10px;
      h2{
        text-align: center;
      }
    }
  }
}
