<section>
  <div class="container">
    <div class="img__left">
      <div class="service__bg"></div>
      <div class="service__txt">
        <h2>BATTERY, STARTING AND CHARGING REPAIR</h2>
        <p>Gravida quis blandit turpis cursus in hac habitasse platea. Velit sed ullamcorper morbi tincidunt ornare massa eget. Odio morbi quis commodo odio aenean. Ut etiam sit amet nisl purus </p>
        <a href="">GET SERVICE</a>
      </div>
    </div>

    <div class="img__right">
      <div class="service__bg"></div>
      <div class="service__txt">
        <h2>BATTERY, STARTING AND CHARGING REPAIR</h2>
        <p>Gravida quis blandit turpis cursus in hac habitasse platea. Velit sed ullamcorper morbi tincidunt ornare massa eget. Odio morbi quis commodo odio aenean. Ut etiam sit amet nisl purus </p>
        <a href="">GET SERVICE</a>
      </div>
    </div>

    <div class="img__left">
      <div class="service__bg"></div>
      <div class="service__txt">
        <h2>BATTERY, STARTING AND CHARGING REPAIR</h2>
        <p>Gravida quis blandit turpis cursus in hac habitasse platea. Velit sed ullamcorper morbi tincidunt ornare massa eget. Odio morbi quis commodo odio aenean. Ut etiam sit amet nisl purus </p>
        <a href="">GET SERVICE</a>
      </div>
    </div>
  </div>
</section>

