<section>
  <div class="container">
    <div class="img__left">
      <div class="service__bg"></div>
      <div class="service__txt">
        <h2>POSE DE FILM PPF SUR LA CARRROSSERIE</h2>
        <p>Gravida quis blandit turpis cursus in hac habitasse platea. Velit sed ullamcorper morbi tincidunt ornare massa eget. Odio morbi quis commodo odio aenean. Ut etiam sit amet nisl purus </p>
        <a routerLink="/service-seven">EN SAVOIR PLUS</a>
      </div>
    </div>

    <div class="img__right">
      <div class="service__bg"></div>
      <div class="service__txt">
        <h2>APPLICATION CÉRAMIQUE CARROSSERIE & ÉLÉMENTS</h2>
        <p>Gravida quis blandit turpis cursus in hac habitasse platea. Velit sed ullamcorper morbi tincidunt ornare massa eget. Odio morbi quis commodo odio aenean. Ut etiam sit amet nisl purus </p>
        <a routerLink="/service-eight">EN SAVOIR PLUS</a>
      </div>
    </div>

    <div class="img__left">
      <div class="service__bg"></div>
      <div class="service__txt">
        <h2>SERVICE DE DETAILING</h2>
        <p>Gravida quis blandit turpis cursus in hac habitasse platea. Velit sed ullamcorper morbi tincidunt ornare massa eget. Odio morbi quis commodo odio aenean. Ut etiam sit amet nisl purus </p>
        <a routerLink="/service-nine">EN SAVOIR PLUS</a>
      </div>
    </div>
  </div>
</section>

