<section>
  <div class="container">
    <div class="landing__services__cards">
      <div class="landing__services__card">
        <span><i class="fa-solid fa-soap"></i></span>
        <h3>NETTOYAGE APPROFONDI</h3>
        <p>L'esthétique de votre véhicule commence par son nettoyage. C'est pour cela que nous proposons un nettoyage en profondeur à la main pour un résultat optimal.</p>
        <a routerLink="/service-one"><span><i class="fa-solid fa-chevron-right"></i></span>EN SAVOIR PLUS</a>
      </div>

      <div class="landing__services__card">
        <span><i class="fa-solid fa-spray-can-sparkles"></i></span>
        <h3>TRAITEMENT ODEURS</h3>
        <p>Une odeur persistante dans votre habitacle ? Nous nous chargeons de faire disparaître cela à l'aide d'un kit spécialement conçu pour éliminer les odeurs les plus corriaces.</p>
        <a routerLink="/service-two"><span><i class="fa-solid fa-chevron-right"></i></span>EN SAVOIR PLUS</a>
      </div>

      <div class="landing__services__card">
        <span><i class="fa-solid fa-car-on"></i></span>
        <h3>CORRECTION CARROSSERIE</h3>
        <p>Les impacts légers et les rayures en surface sont le cauchemar de tout conducteur. Notre équipe s'occupe de les rectifier pour faire revenir votre véhicule à son état d'origine.</p>
        <a routerLink="/service-three"><span><i class="fa-solid fa-chevron-right"></i></span>EN SAVOIR PLUS</a>
      </div>
    </div>


    <div class="landing__services__cards">
      <div class="landing__services__card">
        <span><i class="fa-solid fa-car-rear"></i></span>
        <h3>CORRECTION OPTIQUES</h3>
        <p>Que ce soit pour l'apparence du véhicule ou pour la sécurité, la correction des optiques reste essentielle. C'est pourquoi nous proposons une remise à neuf de celles-ci.</p>
        <a routerLink="/service-four"><span><i class="fa-solid fa-chevron-right"></i></span>EN SAVOIR PLUS</a>
      </div>

      <div class="landing__services__card">
        <span><i class="fa-solid fa-toolbox"></i></span>
        <h3>RECTIFICATION JANTES</h3>
        <p>Qui n'a jamais grincé des dents en entendant le bruit d'une jante se rayer ? Elles sont une pièce maîtresse de l'apparence du véhicule et c'est pourquoi nous assurons leur remise en état.</p>
        <a routerLink="/service-five"><span><i class="fa-solid fa-chevron-right"></i></span>EN SAVOIR PLUS</a>
      </div>

      <div class="landing__services__card">
        <span><i class="fa-solid fa-magnifying-glass"></i></span>
        <h3>RECHERCHE DE VÉHICULES</h3>
        <p>Du mal à trouver le véhicule de vos rêves ? Nous proposons un service de recherche de véhicules neufs, d'occasion ainsi que de collection selon votre budget.</p>
        <a routerLink="/service-six"><span><i class="fa-solid fa-chevron-right"></i></span>EN SAVOIR PLUS</a>
      </div>
    </div>
  </div>
</section>
