<section>
  <div class="container">
    <h2>ACHIEVEMENTS</h2>
    <div class="grid">
      <div class="grid1">
        <img loading="lazy" src="./assets/big1.jpg" alt="">
        <div class="desc"><p>Description</p></div>
      </div>
      <div class="grid2">
        <img loading="lazy" src="./assets/big2.jpg" alt="">
        <div class="desc"><p>Description</p></div>
      </div>
      <div class="grid3">
        <img loading="lazy" src="./assets/big3.jpeg" alt="">
        <div class="desc"><p>Description</p></div>
      </div>
      <div class="grid4">
        <img loading="lazy" src="./assets/big3.jpeg" alt="">
        <div class="desc"><p>Description</p></div>
      </div>
      <div class="grid5">
        <img loading="lazy" src="./assets/big2.jpg" alt="">
        <div class="desc"><p>Description</p></div>
      </div>
      <div class="grid6">
        <img loading="lazy" src="./assets/big1.jpg" alt="">
        <div class="desc"><p>Description</p></div>
      </div>
      <div class="grid7">
        <img loading="lazy" src="./assets/big2.jpg" alt="">
        <div class="desc"><p>Description</p></div>
      </div>
      <div class="grid8">
        <img loading="lazy" src="./assets/big3.jpeg" alt="">
        <div class="desc"><p>Description</p></div>
      </div>
      <div class="grid9">
        <img loading="lazy" src="./assets/big1.jpg" alt="">
        <div class="desc"><p>Description</p></div>
      </div>
    </div>
  </div>
</section>
